body {
    background-color: hsl(0, 0%, 97%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.titulo-boletim {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: xx-large;
    margin-bottom: 10px;
}
.main-title {
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.footer-copyright {
    text-align: center;
}
.container {
    flex: 1 0 auto;
}
.delete-section{
    top: 60px !important;
}
#boletim-image {
    max-height: 300px;
}
#section-image{
    max-height: 300px;
}
.label-like{
    font-size: medium !important;
}
.collection-item{
    padding-left: 130px !important; 
    padding-right: 60px !important;
}
.text-justify{
    text-align: justify;
}
li>img.circle {
    height: 100px !important;
    width: 100px !important;
}
.collection .collection-item.avatar {
    min-height: 130px !important;
}
.icon-boletim{
    top: 15px !important;
}